.col-md-12
  .row
    .col-md-12
      .alert.alert-success{:class => ("hidden" unless flash[:notice])}
        %strong#success-message= flash[:notice]

  .row
    .col-md-12.text-center
      %h1 Listing Endpoints
    .col-md-8.col-md-offset-2
      %table.table.table-striped
        %thead
          %tr
            %th Name
            %th Status
            %th Last Use
            %th Expires at
            %th

        %tbody#endpoints
          - @endpoints.each do |endpoint|
            %tr
              %td= endpoint.name
              %td
                %input{:checked => endpoint.enable?, :name => "status", :type => "checkbox", "data-id" => "#{endpoint.id}" }
                - if endpoint.zombie?
                  .zombie-status &#9760
              %td= endpoint.sent_alert ? Time.at(endpoint.sent_alert) : 'Never'
              /FIXME use presenters
              %td= endpoint.downtime_alert? ? Time.at(endpoint.expires_at) : 'Event-based'
              %td= link_to "Edit", edit_endpoint_path(endpoint)
      .row
        .col-md-2.col-md-offset-10
          %button.btn.btn-success{"data-target" => "#newEndpointModal", "data-toggle" => "modal", :type => "button"}
            New Endpoint
/ Modal
#newEndpointModal.modal.fade{"aria-labelledby" => "newEndpointModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog{:role => "document"}
    .modal-content
      = form_for @endpoint, remote: true do |f|
        .modal-header
          %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
            %span{"aria-hidden" => "true"} ×
          %h4#myModalLabel.modal-title Modal title
        .modal-body
          .row
            .col-md-10.col-md-offset-1
              .alert.alert-danger.hidden
                %strong#error-message
              = render 'form', f: f
        .modal-footer
          %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Close
          = f.submit 'Create', class: "btn btn-success"
