.col-md-12
  .row
    .col-md-12
      - if flash[:notice]
        .alert.alert-success
          %a.close{"aria-label" => "close", "data-dismiss" => "alert", :href => "#"} ×
          %strong= flash[:notice]

  .row
    .col-md-12.text-center
      %h1 Listing Contacts
    .col-md-8.col-md-offset-2
      %table.table.table-striped
        %thead
          %tr
            %th Name
            %th Email
            %th Phone Number
            %th

        %tbody
          - @contacts.each do |contact|
            %tr
              %td= contact.name
              %td= contact.email
              %td= contact.phone_number
              %td= link_to "Edit", edit_contact_path(contact)
      .row
        .col-md-2.col-md-offset-10
          = link_to 'New contact', new_contact_path, class: "btn btn-success"
