<!DOCTYPE html>
<html>
<head>
  <title>Smart Alarm</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container-fluid principal-container">
    <div class="row principal-row">
      <%= render 'partials/header' %>
      <%= yield %>
    </div>
  </div>
</body>
</html>
